@{
    ViewData["Title"] = "ScoreBoard Page";
}

<div class="text-center">
    <h1 class="display-4">ScoreBoard</h1>
    <p>This is the page that we will use to display our Teams leader Board</p>
</div>

