@model CySim.Data.ApplicationDbContext;
@{
    ViewData["Title"] = "ScoreBoard Page";
}

@*<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-centered">
                <h1 class="text-centered">Leaderboard</h1>
                <table class="table table-striped">
                    <tr><th>Rank</th><th>Name</th><th>Score</th></tr>
                    @{int i = 1; }
                    @foreach (var item in Model.Leaders())
                    {
                        <tr><td width="50px">@i</td><td>@item.TeamName</td><td>@item.Score</td></tr>
                        ++i;
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>*@

<div class="container">
    <header>
        <h1>Scoreboard</h1>
    </header>
    <article>
        <div class="col-md-10 col-centered">
            <table class="col-md-10 col-centered">
                <thead>
                    <tr>
                        <td align="center">Rank</td>
                        <td align="center">Team</td>
                        <td align="center">Score</td>
                        <td align="center">Flags</td>
                        <td align="center">Usability</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 5; i++)
                    {
                        <tr>

                            <td class="scoreboard-score" align="center">1</td>
                            <td class="scoreboard-team">
                                <div class="scoreboard-team"></div>
                                <span class="scoreboard-team-logo">
                                    <img class="scoreboard-team-logo"
                                     src="https://www.svgrepo.com/show/31860/fox.svg" alt="Team Foxes" height="200" width="200">
                                </span>
                                <span class="scoreboard-team-logo-foxes scoreboard-team-logo-text">Foxes</span>
            
                            </td>
                            <td class="scoreboard-score" align="center">21 797</td>
                            <td class="scoreboard-usability" align="center">0</td>
                        </tr>
                    }
        </tbody>
        </table>
    </article>
</div>