
# Ingore files used by docker
.env
Dockerfile
docker-compose.yml
docker-compose.dotnet-tests.yml
docker-compose.integration-tests.yml

# Ingore Migrations when copying
src/Migrations

# Ignore obj and bin
src/obj
src/bin
tests/obj
tests/bin


