@{
    ViewData["Title"] = "Scenario Page";
}

<div class="text-center">
    <h1 class="display-4">Scenario Page</h1>
    <p>This is where users will get the ability to view different types of scenarios</p>
</div>

