@model int

<td colspan="2">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary rounded-true" href="@Url.Action("Join", new { id = Model})"><i class="fa-regular fa-pen-to-square"></i></a>
    </div>
</td>

<td align="left" colspan="2">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary rounded-true" href="@Url.Action("Edit", new { id = Model})"><i class="fa-regular fa-pen-to-square"></i></a>
        @*<a type="button" class="btn btn-primary" href="@Url.Action("Delete", new { id = item.Id})">Delete</a>*@
        <form method="post" action="Delete">
            <button onclick="if (!confirm('Are you sure you want to delete this?')){ return false }" type="submit" class="btn btn-danger rounded-true" asp-action="Delete" asp-route-id="@Model"> <i class="fa-solid fa-trash"></i> </button>
        </form>
    </div>
</td>
