@{
    ViewData["Title"] = "Machine Status Page";
}

<div class="text-center">
    <h1 class="display-4">Machine Status Page</h1>
    <p>This could be used for Nagios to be able to show the status of the players machines</p>
    <p>If they are accessible they could shown up green otherwise red.</p>
</div>

