@{
    ViewData["Title"] = "Machine Info Page";
}

<div class="text-center">
    <h1 class="display-4">Machine Info Page</h1>
    <p>This is where users can maybe go to learn a little bit more about their machines.</p>
    <p>How to access them, how they work, etc.</p>
</div>
