/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
     Margin bottom by footer height 
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;  Vertically center the text there 
}




/*this is the start of the scoreboard*/


article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8;
}



table {
    min-width: 320px;
    border-collapse: collapse;
    white-space: nowrap;
}

thead {
    background-color: black;
    color: white;
    font-size: 100%;
}

table, th, td {
    border: 1px solid black;
}


.article {
    background-color: aliceblue;
    text-align: center;
}

.footer {
    width: 100%;
    background-color: cadetblue;
    text-align: center;
}

.scoreboard-score {
    font-weight: bold;
    font-size: 120%;
}

.scoreboard-team {
    font-weight: bold;
    font-size: 120%;
}

.scoreboard-flags {
    align-items: center;
}

.scoreboard-usability {
    align-items: center;
}

.scoreboard-ranking {
    font-weight: bold;
    font-size: 150%;
}

img.scoreboard-team-logo {
    width: 125pt;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

@media only screen and (min-width: 850px) {
    td {
        padding: 10px;
    }
}