@{
    ViewData["Title"] = "Team Registration Page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <p>This is where a user will have the ability to register to a team</p>
</div>


