@model IEnumerable<CySim.Models.TeamRegistration.TeamRegistration>

@{

    ViewData["Title"] = "Team Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />


<div>
    <h1 align="center">Welcome to Team Registration</h1>
    <br />
    <br />
    <h2>Some things to know before you register for a team</h2>
    <ul>
        <li>If you do not see a team that you wish to join then you will be able to create your own</li>
        <ul>
            <li>The creator of a team is also able to edit and delete the team that they create</li>
        </ul>
        <li>If you see a team that you wish to join then you will be able to click join on that team</li>
        <li>Each team has the ability to have up to 6 players so choose wisely</li>
    </ul>

</div>
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Register For a Team here</h2>
    </div>
    <div align="right" class="col-6">
        <a class="btn btn-info" asp-action="Create">Register or Add a Team <i class="fa-solid fa-bicycle"></i></a>
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th colspan="2">
                    Team Name
                </th>
                <th colspan="2">
                    Spots Taken
                </th>
                <th colspan="2">
                    Join Team
                </th>
                <th align="right">
                    Edit/Delete
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(w => item.TeamName)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(w => item.SpotsTaken)
                    </td>
                    <partial name="_TableButtonPartial" model="item.Id" />

                </tr>
            }
        </table>
    </div>
</div>