@model CySim.Models.TeamRegistration.TeamRegistration

@{

    ViewData["Title"] = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h2 class="text-info">Join a Team</h2>
<form method="post" action="Join"> 
    <div class="form-group row">
        <p>this is where the user will be able to join a team</p>
    </div>
</form>

