@model string 
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@{

    ViewData["Title"] = "UserExistError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 align="center">Team Registration Exist Error</h1>
<br />
<br />
<h2>I am sorry but @Model Is already in team</h2>

 <a asp-action="Index" class="btn btn-success">Back</a>
 
