@{
    ViewData["Title"] = "Machine Info Page";
}

<div class="text-center">
    <h1 class="display-4">Machine Info Page</h1>
    <p>This is where users will be able to get there machine info page</p>
</div>
