@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CySim!</h1>
    <br />
    <img class="text-center" src="Documents/Images/Layout.png" width="300" height="200" />

    <br />
    <br />
    <h3 align="left">About CySim</h3>
    <p align="left">
        CySim is a platform that serves a number of responsibilities, it will train the next generation of cyber professionals
        as well as give corporations a testing ground. CySim will give students and learners a safe space to sharpen their cybersecurity skills.
        There will be tutorials available in app to help guide individuals through a number of different activities. This will be available on both
        sides of the cyber spectrum, attacking and defending. Once a user is  able to build up their skills a little bit then they will have the ability
        to compete against other users in a scrimmage like game. Or they can play scenarios it is up to the user on what they want to do.
    </p>
    <p align="left">
        CySim also has a big responsibility with corporations as they will be able to easily import real scenarios that they see often at work
        and be able to test students on their knowledge. This can be useful for corparations as they will have a plateform to be able to narrow down cannidate until
        they get to the best one for the job.
    </p>
    <br />
    <iframe title="CySim Informational Video" width="470" height="258" src="https://www.youtube.com/embed/gqSCU2afVSg?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

