@model CySim.Models.Scenario.Scenario

@{

    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-info">Add a new Scenario</h2>
@if (ViewData["errors"] != null && !ViewData["errors"].Equals(""))
{
    <p class="text-danger">@ViewData["errors"]</p>
}
<form method="post" action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select Scenario to Upload</label>
        <input type="file" class="form-control" name="file" />
    </div>

    <br>

    <div class="form-group">
        <label for="Description">Description:</label>
        <input type="text" class="form-control" name="Description" />
    </div>

    <br>

    <div class="form-check">
        <label class="form-check-label" for="isRed">Is this for red team?</label>
        <input type="checkbox" class="form-check-input" name="isRed" value="false" onchange="this.value=this.checked" />
    </div>

    <br>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>
