@model CySim.Models.Scenario.Scenario

@{
    ViewData["Title"] = "Create Scenario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-primary mb-4">Add a New Scenario Document</h2>
@if (TempData["errors"] != null && !TempData["errors"].Equals(""))
{
    <p class="text-danger mb-4">@TempData["errors"]</p>
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select Scenario Document to Upload</label>
        <input type="file" class="form-control" name="file" />
    </div>

    <br>

    <div class="form-group">
        <label for="Description">Provide the description for the document:</label>
        <input type="text" class="form-control" name="Description" />
    </div>

    <br>

    <div class="form-check">
        <label class="form-check-label" for="isRed">Is this a red team document?</label>
        <input type="checkbox" class="form-check-input" name="isRed" value="false" onchange="this.value=this.checked" />
    </div>

    <br>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>
