@model CySim.Models.Scenario.Scenario

@{

    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" enctype="multipart/form-data" asp-controller="Tutorial" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>*@

<h2 class="text-info">Add a new Scenario</h2>
<form method="post" action="Create">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="FileName"></label>
        </div>
        <div class="col-4">
            <input asp-for="FileName" class="form-control" />
        </div>
        <div class="col-2">
            <label asp-for="Description"></label>
        </div>
        <div class="col-4">
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="col-2">
            <label asp-for="FilePath"></label>
        </div>
        <div class="col-4">
            <input asp-for="FilePath" class="form-control" />
        </div>
        <div class="col-2">
            <label asp-for="isRed"></label>
        </div>
        <div class="col-4">
            <input asp-for="isRed" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>

